body{
    background-color: #D9D9D9;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#topbalk{
    height: 128px;
    width: 100%;
    background-color: #EEEEEE;
    position: sticky;
    top:0;
    left:0;
    z-index: 4;
.menu{
    height: 96px;
    width: 96px;
    /*background-color: #F56E28;*/
    position: absolute;
    top:10px;
    left:10px;
    border-radius: 10px;
    display: flex; justify-content: center; align-content: center; flex-direction: column;
}
.logo{
    height: 125px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-60%, -0%);
    background-color: rgba(130, 236, 9, 0);
    width: 300px;
}
.opening-times{
    height: 96px;
    width: 215px;
    position: absolute;
    top:10px;
    left:calc(100% - 250px);
    background-color: #F56E28;
    border-radius: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 3px;
    font-size: 27px;
    display: flex; justify-content: center; align-content: center;
}
.stripe1{
    height: 8px;
    width: 64px;
}
.stripe2{
    height: 8px;
    width: 32px;
}
.stripe3{
    height: 8px;
    width: 16px;
}
.stripe{
    background-color: black;
    margin: 5px;
}

/* The side navigation menu */



}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    width: 250px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.menu-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 480px) {
    #topbalk{
        height: 56px;
        width: 100%;
        background-color: #EEEEEE;
        position: sticky;
        top:0;
        left:0;
        z-index: 4;
    .menu{
        height: 43px;
        width: 40.67px;
        position: absolute;
        top:5px;
        left:5px;
        border-radius: 10px;
        display: flex; justify-content: center; align-content: center; flex-direction: column;
    }
    .logo{
        height: 54px;
        position: absolute;
        top:0;
        left:50%;
        transform: translate(-60%, -0%);
        background-color: rgba(130, 236, 9, 0);
        width: 130px;
    }
    .opening-times{
        height: 40px;
        width: 37.67px;
        position: absolute;
        top:4px;
        left:calc(100% - 50px);
        background-color: #F56E28;
        border-radius: 10px;
        text-decoration: none;
        color:rgb(255, 255, 255);
        padding: 3px;
        font-size: 27px;
        display: flex; justify-content: center; align-content: center;
    }
    .stripe1{
        height: 3.58px;
        width: 27.31px;
    }
    .stripe2{
        height: 3.58px;
        width: 13.36px;
    }
    .stripe3{
        height: 3.58px;
        width: 6.97px;
    }
    .stripe{
        background-color: black;
        margin: 3px;
    }


    
    
    }
    .sidenav {
        width: 0; /* Closed by default */
    }

    .sidenav a {
        font-size: 20px; /* Reduce text size for better fit */
        padding: 8px 8px; /* Adjust padding */
    }

    .sidenav .closebtn {
        font-size: 30px; /* Slightly smaller close button */
        right: 15px;
    }

    #main {
        margin-left: 0; /* Keep content centered when closed */
    }

    /* When open, make sidenav take the full width */
    .sidenav.open {
        width: 100%; /* Full screen sidenav */
    }

}


.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #F56E28; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    text-decoration: underline;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }