body{
    background-color: #D9D9D9;
}
#topbalk{
    height: 128px;
    width: 100%;
    background-color: #EEEEEE;
    position: absolute;
    top:0;
    left:0;
.menu{
    height: 96px;
    width: 96px;
    background-color: #F56E28;
    position: absolute;
    top:10px;
    left:10px;
    border-radius: 10px;
    display: flex; justify-content: center; align-content: center; flex-direction: column;
}
.logo{
    height: 125px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-60%, -0%);
    background-color: rgba(130, 236, 9, 0);
    width: 300px;
}
.opening-times{
    height: 96px;
    width: 215px;
    position: absolute;
    top:10px;
    left:calc(100% - 250px);
    background-color: #F56E28;
    border-radius: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 3px;
    font-size: 27px;
    display: flex; justify-content: center; align-content: center;
}
.stripe1{
    height: 8px;
    width: 64px;
}
.stripe2{
    height: 8px;
    width: 32px;
}
.stripe3{
    height: 8px;
    width: 16px;
}
.stripe{
    background-color: rgb(255, 255, 255);
    margin: 5px;
}


}